:root {
  --bg-color: #f4f4f4;
  --text-color: #000;
  --sidebar-bg: #fff;
  --button-bg: #111;
  --button-text: #fff;
}

[data-theme="dark"] {
  --bg-color: #000;
  --text-color: #fff;
  --sidebar-bg: #111;
  --button-bg: #fff;
  --button-text: #000;
}

body {
  margin: 0;
  font-family: sans-serif;
  background-color: var(--bg-color, #f4f4f4);
  color: var(--text-color, #000);
  transition: background-color 0.3s, color 0.3s;
}

.sidebar {
  background-color: var(--sidebar-bg);
  color: var(--text-color);
  transition: background 0.3s, color 0.3s;
}
.main-container {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}